@model IntexNorthwestLabs.Models.Customer

@{
    ViewBag.Title = "Customer Portal";
}

<h2>Customer Portal</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <script>
            if ( @Html.DisplayFor(model => model.CustomerAddress2) != null) {

                @ViewBag.address2="Hello"; //Viewbag isnt working
        <dt> @Html.DisplayNameFor(model => model.CustomerAddress2) </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress2)
                    </dd>
            }
        </script>
        @ViewBag.address2
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <!--
    <dt>
        @Html.DisplayNameFor(model => model.CustomerCreditCardNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerCreditCardNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CustomerDiscount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerDiscount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CustomerComment)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerComment)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CustomerCreditCardExpiration)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerCreditCardExpiration)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CustomerCreditCardCVC)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerCreditCardCVC)
    </dd>
        -->
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalTestingApproval)
            <!--  Permissions granted to run all required and conditional test on assays requested-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalTestingApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountDue)
        </dd>

    </dl>
    </div>




    <h3>How can we help you?</h3>
    <a href="@Url.Action("CurrentOrders", "Orders",  new { iCode =  Html.DisplayFor(model => model.CustomerCode) } )" class="w3-bar-item w3-button">View Current Orders</a>
    <a href="@Url.Action("Create", "Orders",  new { iCode =  Html.DisplayFor(model => model.CustomerCode) })" class="w3-bar-item w3-button">Create an Order</a>
    <a href="@Url.Action("PastOrders", "Orders",  new { iCode =  Html.DisplayFor(model => model.CustomerCode) })" class="w3-bar-item w3-button">See All Past Orders</a>
    <a href="@Url.Action("RequestQuote", "Home")" class="w3-bar-item w3-button">Request Assay Test Quote</a>
    <a href="@Url.Action("ViewCurrentInvoices", "Invoices",  new { iCode =  Html.DisplayFor(model => model.CustomerCode) })" class="w3-bar-item w3-button">View Current Invoices</a>
    <a href="@Url.Action("Index", "Invoices",  new { iCode =  Html.DisplayFor(model => model.CustomerCode) })" class="w3-bar-item w3-button">View All Invoice</a>



    <!--
        return RedirectToAction("NewCustomerAccount", new { iCode = customer.CustomerCode });
           -->
