@model IEnumerable<IntexNorthwestLabs.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCreditCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCreditCardExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCreditCardCVC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalTestingApproval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountDue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCreditCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCreditCardExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCreditCardCVC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalTestingApproval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmountDue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerCode })
        </td>
    </tr>
}

</table>
