
@{
    ViewBag.Title = "Home";
}
<br />
<center>
    <img src="~/Content/images/NWlogo.png" style="max-height: 200px" />


    <br />
    <br /><br />
    <a href="@Url.Action("Index", "Locations")" class="w3-bar-item w3-button">About Northwest Labs</a>
    <a href="@Url.Action("Index", "Assay_Catalog")" class="w3-bar-item w3-button">View Assay Test Catalog</a>
    <a href="@Url.Action("Login", "Users")" class="w3-bar-item w3-button">Log in to Customer Portal</a>
    <a href="@Url.Action("SendEmail", "Home")" class="w3-bar-item w3-button">Contact Northwest Labs</a>
    <a href="@Url.Action("Create", "Customers")" class="w3-bar-item w3-button">Create an Account</a>

</center>