@model IEnumerable<IntexNorthwestLabs.Models.AssayTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestResultQuantitative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestResultQualitative)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestResultQuantitative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestResultQualitative)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
