@model IEnumerable<IntexNorthwestLabs.Models.Order>

@{
    ViewBag.Title = "Current Orders";
}

<h2>Curren tOrders</h2>

<p>
    @Html.ActionLink("Back to Customer Portal", "CustomerPortal", "Customers" )
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderRushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedQuote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderReport)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRushed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderReport)
            </td>
            <td>
                @Html.ActionLink("Order Details", "Details", new { id = item.OrderCode })
            </td>
        </tr>
    }

</table>
