@model IEnumerable<IntexNorthwestLabs.Models.Location>

@{
    ViewBag.Title = "About Northwest Labs";
}

<h2>About Northwest Labs</h2><br />
<img src="~/Content/images/NWlogo.png" />

<h3>Our Company</h3><br />
<p>CompanyDescription</p><br /><br />

<h3>Our Company Mission</h3><br />
<p>CompanyMission</p><br /><br />

<h3>Our offices are located at</h3><br />


@foreach (var item in Model)
{
    <!--
    @Html.DisplayFor(modelItem => item.LocationCode)
    <br />-->
    @Html.DisplayFor(modelItem => item.LocationName) @ViewBag.space @Html.DisplayNameFor(model => model.LocationName)
    <br />

    @Html.DisplayFor(modelItem => item.LocationAddress)
    <br />
    @Html.DisplayFor(modelItem => item.LocationAddress2)
    <br />
    @Html.DisplayFor(modelItem => item.LocationCity)
    @ViewBag.space
    @Html.DisplayFor(modelItem => item.LocationState)
    @ViewBag.space
    @Html.DisplayFor(modelItem => item.LocationPostalCode)
    <br />
    @Html.DisplayFor(modelItem => item.LocationCountry)

    <br /><hr /><br />
}


