@model IEnumerable<IntexNorthwestLabs.Models.Invoice>

@{
    ViewBag.Title = "View Current Invoices";
}

<h2>View Current Invoices</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceEarlyPayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RawTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceEarlyPayDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceEarlyPayDate)
        </td>
        <td>
           $@Html.DisplayFor(modelItem => item.RawTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceEarlyPayDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountCode)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.InvoiceTotal)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.InvoiceAmountPaid)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.InvoiceAmountDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidStatus)
        </td>
        <td>
            @Html.ActionLink("Pay", "PayInvoice", new { id=item.InvoiceCode }) 
        </td>
    </tr>
}

</table>
