@model IntexNorthwestLabs.Models.Assay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayLiteratureRefs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayLiteratureRefs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayDuration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
